.box_one_style{
  background-color: #fff;
}
.goal_achi{
  border: 1px solid black;
  height: 220px;
}
.h4_style{
  font-weight: 600;
}
.td_style{
 color: #9d84c1;
}


.box_two_style{
  margin-top: 20px;
  background-color: #fff;
}
.p_style{
color: #d09b9b;
}
.section_one{
  padding: 10px;
}

.box_two_style h4{
  font-weight: 600;
}
.border{
  border: 1px solid;
}

.box_three_style{
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid;
}
.sales_statical{
  padding: 10px;

}
// .sales_padding{
//   border: 1px solid;
// }
.net_overview{
  padding: 10px;
}
// .net_padding{
//   border: 1px solid;
// }
.box_4_style{
  margin-top: 20px;
}
.total_rev_heading{
  font-weight: 600;
  margin-left: 10px;
}
.total_rev{
  background-color: #fff;
}
.website_audience h3{
  font-weight: 600;
}
.website_audience{
  background-color: #fff;
}

.website_audience p{
 font-weight: 600;
}

.market_overview{
  background-color: #fff;
  margin-top: 20px;
}
.market_content{
  margin-left: 20px;
}
.market_heading{
  font-weight: 600;
}
.word_selling{
  background-color: #fff;
}
.Invoices{
  padding: 16px;
}
.invoice_table{
  background-color: #fff;
  padding: 15px;
}
.invoice_table h4{
 font-weight: 600;
}

.word_selling h4{
  font-weight: 600;
  padding: 15px;
}


